@font-face {
  font-family: 'Lucifer Sans';
  src: url('../fonts/LuciferSans-SemiBold.woff2') format('woff2'), url('../fonts/LuciferSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lucifer Sans';
  src: url('../fonts/LuciferSans-Bold.woff2') format('woff2'), url('../fonts/LuciferSans-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lucifer Sans';
  src: url('../fonts/LuciferSans-RegularItalic.woff2') format('woff2'), url('../fonts/LuciferSans-RegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lucifer Sans Condensed';
  src: url('../fonts/LuciferSansCondensed-Regular.woff2') format('woff2'), url('../fonts/LuciferSansCondensed-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lucifer Sans Condensed';
  src: url('../fonts/LuciferSansCondensed-Bold.woff2') format('woff2'), url('../fonts/LuciferSansCondensed-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Lucifer Sans Condensed';
  src: url('../fonts/LuciferSansCondensed-RegularIt.woff2') format('woff2'), url('../fonts/LuciferSansCondensed-RegularIt.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Lucifer Sans Condensed';
  src: url('../fonts/LuciferSansCondensed-BoldItalic.woff2') format('woff2'), url('../fonts/LuciferSansCondensed-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lucifer Sans Condensed';
  src: url('../fonts/LuciferSansCondensed-MediumIt.woff2') format('woff2'), url('../fonts/LuciferSansCondensed-MediumIt.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lucifer Sans Condensed';
  src: url('../fonts/LuciferSansCondensed-Medium.woff2') format('woff2'), url('../fonts/LuciferSansCondensed-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lucifer Sans';
  src: url('../fonts/LuciferSans-SemiBoldItalic.woff2') format('woff2'), url('../fonts/LuciferSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Lucifer Sans Condensed';
  src: url('../fonts/LuciferSansCondensed-SemiBoldIt.woff2') format('woff2'), url('../fonts/LuciferSansCondensed-SemiBoldIt.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Lucifer Sans';
  src: url('../fonts/LuciferSans-Regular.woff2') format('woff2'), url('../fonts/LuciferSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lucifer Sans';
  src: url('../fonts/LuciferSans-Medium.woff2') format('woff2'), url('../fonts/LuciferSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lucifer Sans';
  src: url('../fonts/LuciferSans-MediumItalic.woff2') format('woff2'), url('../fonts/LuciferSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lucifer Sans Condensed';
  src: url('../fonts/LuciferSansCondensed-SemiBold.woff2') format('woff2'), url('../fonts/LuciferSansCondensed-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Lucifer Sans';
  src: url('../fonts/LuciferSans-BoldItalic.woff2') format('woff2'), url('../fonts/LuciferSans-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lucifer Sans';
  src: url('../fonts/LuciferSans-LightItalic.woff2') format('woff2'), url('../fonts/LuciferSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lucifer Sans';
  src: url('../fonts/LuciferSans-Light.woff2') format('woff2'), url('../fonts/LuciferSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
