.side-links
  a.side-links__item.side-links__item-1(href='')
    span.side-links__item-icon
      include ../../images/shape.svg
    span.side-links__item-text
      include ../../images/fashion.svg
  a.side-links__item.side-links__item-2(href='')
    span.side-links__item-icon
      include ../../images/shape.svg
    span.side-links__item-text
      include ../../images/design.svg
  a.side-links__item.side-links__item-3(href='')
    span.side-links__item-icon
      include ../../images/shape.svg
    span.side-links__item-text
      include ../../images/covers.svg
